@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
*{
    font-family: Roboto, sans-serif;
}
/*style for index page*/
html, body, header, #intro{
    height: 100%;
}
#intro{
    background: url("../img/bg1.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
@media (max-width: 740px) {
    #intro{
        height: 900px;
    }
}
.navbar{
    background: linear-gradient(to top, #ebebeb, #9c9c9c);
}
@media only screen and (max-width: 768px){
    .navbar{
        background: linear-gradient(to top, #ebebeb, #9c9c9c);
    }
}
.page-footer{
    background-color: #9c9c9c;
}
/*@media (max-width: 740px) {
    html,body, header, .view{
        height: 100px;
    }
}

